@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background: url(imagens/fundo-geral.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

body::before {
    background: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 20px;
    padding: 70px 0 50px 0;
    z-index: 1;
    position: relative;
}

.cabecalho .titulo {
    color: rgba(10, 10, 110, 0.8);
    cursor: default;   
}

.cabecalho .musica {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.mestres-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
}

.lista-mestres {
    position: relative;
    border: 4px solid #fff;
    border-radius: 20px;    
    width: 400px;
    height: 620px;
}

.btn-seta {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: none;   
    position: relative;
    background: url(imagens/palheta1.png) no-repeat;
    background-size: cover;
}

.btn-seta.btn-voltar {
    transform: rotateY(180deg);  
}

.opaco {
    opacity: 0.5;
    pointer-events: none;
}

.cartao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    height: 100%;
    position: absolute;
    padding: 12px;
    box-shadow: rgba(30, 30, 80, 0.5) 0px 5px 20px 5px;
    transition: opacity 0.3s ease-in-out;
}

.cartao.selecionado {
    opacity: 1;
    z-index: 1;
}

.fundo-1 {
    background: url(imagens/fundo-azul.jpg) no-repeat;
    border-radius: 16px;
}

.fundo-2 {
    background: url(imagens/fundo-vermelho.jpg) no-repeat;
    border-radius: 16px;
}

.fundo-3 {
    background: url(imagens/fundo-amarelo.jpg) no-repeat;
    border-radius: 16px;
}

.fundo-4 {
    background: url(imagens/fundo-verde.jpg) no-repeat;
    border-radius: 16px;
}

.cartao .informacoes {
    background-color: rgba(179, 177, 185, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 8px;
    cursor: default;
}

.cartao .informacoes .nome{
    color: #f1ecff;
}

.cartao .container-imagem {
    text-align: center;   
}

.cartao .imagem-mestres{
    max-width: 100%;
    max-height: 300px;
}

.cartao .descricao {
    background: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.cartao .descricao .titulo {
    background-color: #506080;
    color: #f1ecff;
    padding: 4px;
    text-align: center;
    cursor: default;
}

.cartao .descricao .texto {
    padding: 5px;   
    text-align: justify;
    max-height: 115px;
    overflow-y: auto;
}

.cartao .descricao .texto a {
    text-decoration: none;
    color: #f1ecff;
    padding: 1px 15px;
    
    border-radius: 20px;
    font-size: 15px;
    background-color: #506080;
}

.cartao .descricao .texto a:hover {
    color: dodgerblue;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
	display: none;
}

::-webkit-scrollbar-track-piece  {
	background-color: #506080;
	-webkit-border-radius: 8px;
}

::-webkit-scrollbar-thumb:vertical {
	background-color: rgba(180, 180, 185);
	-webkit-border-radius: 6px;
}
