@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background: url(imagens/fundo-geral.jpg) no-repeat;
    /* background-size: cover; */
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 20px;
}