@media (max-width: 620px) {
    .mestres-slider {
        padding: 0 15px;
        gap: 20px;
    }

    .btn-seta {
        width: 20px;
        height: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lista-mestres {
        height: 480px;
    }

    .cartao .imagem-mestres {
        max-height: 230px;
    }
    
    .cartao .informacoes .nome {
        max-width: 50%;
        font-size: 18px;
    }
}

@media (max-width: 465px) {
    .cabecalho {
        gap: 15px;
    }
    .cabecalho .musica {
        width: 40px;
        height: 40px;
    }
    .cabecalho .titulo {
        font-size: 25px;
    }
    .cartao .descricao .texto {
        font-size: 15px;
    }
    }